html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.marginless {
  margin: 0;
}

.small-sup {
  font-size: 50%;
  vertical-align: super;
}

header:target {
  animation: highlight-pulse-bg 500ms ease-out;
}

article > header:target > h3 {
  animation: highlight-pulse-text 500ms ease-out;
}

article > header {
  & > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

@keyframes highlight-pulse-bg {
  from {
    background-color: var(--pico-card-sectioning-background-color);
  }
  50% {
    background-color: var(--pico-accordion-active-summary-color);
  }
  to {
    background-color: var(--pico-card-sectioning-background-color);
  }
}

@keyframes highlight-pulse-text {
  from {
    --pico-color: var(--pico-color);
  }
  50% {
    --pico-color: var(--pico-background-color);
  }
  to {
    --pico-color: var(--pico-color);
  }
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  gap: var(--pico-grid-column-gap);
}

.flex-responsive {
  display: flex;
  gap: var(--pico-grid-column-gap);
}

@media (max-width: 768px) {
  .flex-responsive {
    flex-direction: column;
    gap: var(--pico-grid-row-gap);
  }
}

.bloglist-main {
  flex-grow: 1;
}

nav[aria-label="breadcrumb"] li {
  padding-top: 0;
}

nav[aria-label="breadcrumb"] li :where(a, [role="link"]):not(:hover) {
  text-decoration: var(--pico-text-decoration);
  text-decoration-color: var(--pico-underline);
  text-underline-offset: 0.125em;
}

ul.blog-sidebar {
  list-style-type: none;
  padding-left: 0;
}

ul.blog-sidebar li {
  list-style: none;
}

ul.blog-sidebar :where(a, [role="link"]):not(:hover) {
  text-decoration: none;
}

.no-underline :where(a, [role="link"]):not(:hover),
.no-underline:where(a, [role="link"]):not(:hover) {
  text-decoration: none;
}

.autolink-heading {
  position: relative;
}

.autolink-link {
  display: flex;
  align-items: center;
  height: 100%;

  position: absolute;
  top: 3px;
  left: -1.5em; /* -1em - paddin-left - padding-right */
  padding: 0 0.25em;

  opacity: 0;
  transition: opacity 0.2s;

  font-size: 0.625rem;
  text-decoration: none;
}

.autolink-link:not(:hover) {
  text-decoration: none;
}

.autolink-heading:hover .autolink-link {
  opacity: 1;
}

.icon-field {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.icon-field :where(.fa, .fas, .fab) {
  font-size: 0.75em;
  margin-left: 0.2em;
}

blockquote {
  padding: 0 var(--pico-spacing);
}

.toc-section {
  border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
  margin-bottom: calc(var(--pico-block-spacing-vertical) * 2);
}

.footnotes {
  margin-top: calc(var(--pico-block-spacing-vertical) * 2);
  padding-top: var(--pico-block-spacing-vertical);
  border-top: var(--pico-border-width) solid var(--pico-muted-border-color);
}
